<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.dtbid.dropthebid.auction.repository.PaymentRepository">

    <insert id="insertPayment" parameterType="com.dtbid.dropthebid.auction.model.Payment">
        INSERT INTO payment (payment_id, auction_id, bidding_success_id, name, phone_number, address, message, created_at)
        VALUES (payment_seq.NEXTVAL, #{auctionId}, #{biddingSuccessId}, #{name}, #{phoneNumber}, #{address}, #{message}, #{createdAt})
    </insert>
    
</mapper>